HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Custom
*.log
*.db

# dependencies
/webApp/node_modules
/node_modules 
/.pnp .pnp.js  

# testing 
/.scannerwork 
/coverage
/reports

# production 
/build  

# misc 
.DS_Store 
.env
.env.local 
.env.development.local 
.env.test.local 
.env.production.local  

# Logs 
logs 
.log 
npm-debug.log 
yarn-debug.log* 
yarn-error.log*

# Jenkins Secrets
/scripts/createSSMSecrets.ps1